<!-- Content -->
<article class="box post">
    <a href="#" class="image featured"><img src="{{ .Site.BaseURL }}{{ .Params.image }}" alt="" /></a>
    <header>
        <h2>{{ .Title }}</h2>
        {{ if not .PublishDate.IsZero }}
        <p>{{ .PublishDate.Format "January 2, 2006" }}{{ if ne .PublishDate .Lastmod }} - last updated {{ .Lastmod.Format "January 2, 2006" }}{{ end }}</p>
        {{ end }}
    </header>
    {{ .Content }}
</article>

{{ if .Params.disqusid }}
<div id="disqus_thread"></div>
{{ end }}
